.card-columns {
  margin-right: 10px !important;
  width: 70%;
  display: inline-flex !important;
}
.confirm {
  display: flex;
  justify-content: flex-end !important;
}
.confirm_page {
  font-size: small;
}
.subtotal {
  float: right;
  width: 40%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end !important;
}
.menu {
  color: white;
  position: relative;
  margin-right: 50px;
  margin-left: auto;
}

.form-control{
  width: 75px;
  text-align: center;
}

.cancel_button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.itemsproceed {
  background: #5861ae 0% 0% no-repeat padding-box;
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
  font: normal normal 600 14px/48px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0px 15px;
  margin-top: 13px;
}